:root {
  --primary-color: #4070f4;
  --secondary-color: #262938;
  --secondary-light: #3e6981;
  --secondary-hover: #385361;
  --accent-color: #6b394c;
  --grey: #616161;
  --light-grey: #888888;
  --secondary-grey: #555555;
  --dark-grey: #1b1b1b;
  --box: rgba(0, 0, 0, 0.5);
}

:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"),
    url(../assets/fonts/Ubuntu-Regular.woff2) format("woff2"),
    url(../assets/fonts/Ubuntu-Regular.woff) format("woff"),
    url(../assets/fonts/Ubuntu-Regular.ttf) format("truetype");
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif, Helvetica;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--mb-2);
  color: var(--second-color);
  line-height: 1.6;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1,
h2 {
  font-weight: bold;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--second-color);
  font-size: 1.2em;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.card {
  background-color: var(--dark-grey);
  box-shadow: 0 3px 10px var(--dark-grey);
}

.white_card {
  background-color: white;
  box-shadow: 0 1px 5px var(--dark-grey);
  border-radius: 4px;
  padding: 8px;
}

.navbar {
  background-color: var(--secondary-color);
  box-shadow: 0 2px 10px var(--box);
  color: white;
  height: 70px;
}

.navbar .container {
  padding: 20px;
  overflow: hidden;
}

.navbar .navbar_icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar img {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  align-self: center;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.navbar nav {
  overflow-y: hidden;
}

.navbar ul {
  display: flex;
}

.navbar .flex {
  justify-content: space-between;
}

.link {
  color: white;
  padding: 10px;
  margin: 0 5px;
}

.link:hover {
  border-bottom: 2px white solid;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.saturate {
  filter: saturate(3);
}
.grayscale {
  filter: grayscale(100%);
}
.contrast {
  filter: contrast(160%);
}
.brightness {
  filter: brightness(0.25);
}
.blur {
  filter: blur(3px);
}
.invert {
  filter: invert(100%);
}
.sepia {
  filter: sepia(100%);
}
.huerotate {
  filter: hue-rotate(180deg);
}
.rss.opacity {
  filter: opacity(50%);
}

.home {
  color: white;
  position: relative;
  background-color: var(--secondary-color);
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home p {
  font-size: 1.7em;
  margin: 80px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home i {
  text-align: start;
}

.home::before,
.home::after {
  content: "";
  position: absolute;
  height: 160px;
  bottom: -100px;
  right: 0;
  left: 0;
  background: white;
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  box-shadow: 0 -2px 1px var(--box);
}

.home .carousel {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  padding: 8px;
  overflow: hidden;
}

.home .carousel img {
  width: 100%;
  height: auto;
  box-shadow: 0 3px 10px var(--dark-grey);
  border-radius: 4px;
  padding: 1px;
  align-self: center;
  justify-self: center;
}

.home .carousel img:hover {
  transform: scale(1.04);
  opacity: 0.9;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.home .carousel :nth-child(2) {
  width: 100%;
  height: auto;
  grid-column: span 2 / 4;
}

.home span {
  font-weight: bold;
  font-size: 3rem;
  margin: 80px 0 20px 0;
  text-align: center;
}

.subscribe {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.subscribe h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.subscribe .broad {
  margin: 40px 0;
}

.subscribe input {
  outline: none;
  width: 100%;
  font-weight: bold;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 4px;
  color: black;
  border-color: var(--secondary-hover);
}

.subscribe button {
  margin-top: 10px;
  width: 100%;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 20px 0;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: var(--secondary-light);
}

.subscribe button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.explore {
  margin-top: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.explore h1 {
  text-align: center;
  margin-bottom: 80px;
  font-size: 2.5rem;
}

.explore .mid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  padding: 4px;
  justify-self: center;
  align-self: center;
}

.explore .mid .broad,
.explore .mid .showcase {
  padding: 16px;
}

.explore .mid .broad_fields {
  display: flex;
  flex-direction: column;
}

.explore .showcase,
.explore .broad_header {
  width: 100%;
  padding: 8px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.explore .publish {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.explore .publish_info {
  padding: 4px 8px;
  background-color: var(--secondary-light);
  border-radius: 4px;
  color: white;
  text-align: center;
}

.explore .publish_info {
  transform: scale(1.01);
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.explore .publish_container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.explore .publish_container h2 {
  font-weight: bold;
  margin: 0 8px;
  align-self: center;
}

.explore .post_img {
  width: 100%;
  padding: 4px;
}

.explore .publish_container .category_list {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 2px;
  font-size: 1.1rem;
}

.explore .broad .post_field_count {
  align-self: end;
  margin-top: 4px;
  text-align: end;
}

.explore .broad .disclaimer {
  align-self: start;
  align-items: flex-start;
  text-align: start;
}

.explore .mid a {
  font-size: 1.2rem;
  font-weight: bold;
}

.explore .mid a:hover {
  opacity: 0.7;
  color: var(--secondary-color);
  cursor: pointer;
}

.explore .mid .info p {
  font-size: 1.2rem;
  margin-left: 0.4rem;
}

.explore .mid input,
.explore .mid textarea {
  margin-top: 4px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 1.1rem;
  color: black;
}

.explore .mid p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}

.showcase h3 {
  text-align: center;
  margin-bottom: 10px;
}

.showcase .items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  padding: 4px;
}

.showcase .items img {
  width: 100%;
  box-shadow: 0 1px 4px var(--dark-grey);
  border-radius: 4px;
  padding: 2px;
  align-self: center;
  justify-self: center;
}

.showcase .items img:hover {
  transform: scale(1.01);
  opacity: 0.9;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.guide .header {
  margin-top: 10rem;
  font-size: 2.5rem;
}

.guide h1 {
  text-align: center;
  margin-bottom: 20px;
}

.guide p {
  font-size: 1.1rem;
}

.guide label {
  font-size: 1.1rem;
}

.guide ul {
  list-style: square;
  font-size: 1.1rem;
}

.guide ul li {
  margin-bottom: 10px;
}

.footer {
  background-color: var(--secondary-color);
  box-shadow: 0 -3px 3px var(--box);
  overflow: auto;
  color: white;
  padding: 30px;
  text-align: center;
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .footer_links {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  justify-content: center;
  align-items: center;
}

.footer .footer_links img {
  width: 60px;
  height: auto;
}

.footer .footer_links .twitter_img {
  width: 50px;
}

.footer .footer_links img:hover {
  transform: scale(1.06);
  opacity: 0.9;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.footer .copyright {
  text-align: center;
  margin: 40px 0;
  font-weight: 500;
  font-size: 1.3rem;
}

.content h1 {
  margin: 30px 0 10px 0;
}

.content .google_policy:hover {
  transform: scale(1.06);
  opacity: 0.9;
  transition: transform 0.2s ease-in;
}

.content span {
  font-weight: bold;
}
